:root {
    --colortext: #ccc;
    --colorfondo: #222;
    --fuente: Arial, Helvetica, sans-serif;
}



body {
    background-color: var(--colorfondo);
}

body img {
    background-color: #ffffff;
    padding: 5px;
}

.fue {
    text-decoration: none;
    color: rgb(4, 99, 33);
}

.fue:hover {
    text-decoration: overline;
    color: rgb(255, 81, 0);
}

.fue:visited {
    text-decoration: underline;
    color: rgb(209, 13, 104);
}

.links a {
    font-family: var(--fuente);
    color: var(--colortext);
    font-size: 16px;
    margin: 30px;
    text-decoration: none;
}

.links a:hover {
    color: #090e0f;
    background-color: aqua;
    font-size: 20px;
}

.title {
    font-family: var(--fuente);
    color: var(--colortext);
    font-size: 30px;
    margin: 30px;
    text-transform: capitalize;
}

.mtitel {
    font-family: var(--fuente);
    color: var(--colortext);
    font-size: 22px;
    margin: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tex {
    font-family: var(--fuente);
    color: var(--colortext);
    font-size: 16px;
    margin: 30px;
    text-align: justify;
}

.tex::first-letter {
    font-size: 32px;
}
@media (width < 600px) {
    .tex { font-size: 14px; }
    .title { font-size: 28px; }
    .mtitel { font-size: 22px; }
}

@media (600px <= width <= 1280px) {
    .tex { font-size: 16px; }
    .title { font-size: 32px; }
    .mtitel { font-size: 26px; }
}

@media (width > 1280px) {
    .tex { font-size: 18px; }
    .title { font-size: 40px; }
    .mtitel { font-size: 32px; }
}
